<!DOCTYPE html>
<html>
    <head>
        <title>Fennie's blog</title>
    </head>
    <body style="background-color:powderblue;">
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>
        <p><i>Fennie's blog!</i></p>
        <p>It works!</p>
        <p style="color:rgb(255,0,0);">My first website</p>
        <article>
            <time>published: 21.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>Cookies</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Cookies2</p>
        </article>
    </body>
    <footer>
        <p>My footer!</p>
    </footer>
</html>